@charset "utf-8";
/* CSS Document */

h1, h2, h3, h4, p, a, div {
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";  
}

body {
	background-color: #f4f4f2;
}

li { 
line-height: 1.5; 
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.container {
	background-color: #FFFFFF; 
	padding: 20px; 
	margin-top: 10px; 
}

.container-8 {
background-color: white;
  padding: 20px;
	margin-right: 20px; 

}

.container-4 {
	background-color: white;
  padding: 20px;
	
	
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
	margin-top: 20px; 
}
	
.box {
	background-color: white; 
	color: black; 
	width: 32%; 
	height: auto;   
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px; 
	margin-right:20px;
	font-size: 1.5em; 
	border-bottom: #E5E5E5 thick solid; 
	border-right: #E5E5E5 thick solid; 
	float: left;
	text-align: center; 
}