@charset "utf-8";
/* CSS Document */

h1, h2, h3, h4, p, a, div {
	font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

body {
	background-color: #f4f4f2;
}

footer {
	background-color: #353533; 
	width:100%; 
	height: 200px; 
	text-align: center; 
	color:white;
	display: inline-block;
	vertical-align: bottom;
}

footer p {
	padding:40px;
}

li { 
line-height: 1.5; 
}

div.scrollmenu {
  background-color: #003333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #013b3b;
}

.container {
	background-color: #FFFFFF; 
	padding: 20px; 
	margin-top: 10px; 
}

.container-8 {
background-color: white;
  padding: 20px;
	margin-right: 20px; 

}

.container-4 {
	background-color: white;
  padding: 20px;
	
	
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
	margin-top: 20px; 
}
	
.box {
	background-color: white; 
	color: black; 
	width: 32%; 
	height: auto;   
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px; 
	margin-right:20px;
	font-size: 1.5em; 
	border-bottom: #E5E5E5 thick solid; 
	border-right: #E5E5E5 thick solid; 
	float: left;
	text-align: center; 
}

.headercontainer {
	margin: 0px; 
	margin-right:20px; 
	padding-top:20px; 
	padding-bottom:20px; 
	padding-left:20px; 
	background-color:#015252; 
	color:white;
}

hr {
	border-top:1px solid #013b3b;
}